// See http://eslint.org/docs/
{
    "extends": "airbnb/base",
    "rules": {
        "indent": [2, 4],
        "no-undef": 2,
        "no-var": 0,
        "vars-on-top": 0,
        "no-param-reassign": 0,
        "no-eq-null": 0,
        "no-new": 0,
        "consistent-return": 0,
        "func-names": 0
    }
}
