body { font: 13px sans-serif; color: #474739; padding: 0; margin: 0 }

#chart-and-ping { position: relative }
#ping { font-size: 60px; position: absolute; top: 0; left: 0; padding: 10px }
#chart > svg { height: 300px; font-size: 9px; 
    background-image: linear-gradient(#fff 0, #F2F1D3 100%);
    background-image: -webkit-linear-gradient(#fff 0, #F2F1D3 100%);
    background-image: -moz-linear-gradient(#fff 0, #F2F1D3 100%) }
#chart > svg > rect { fill: #474739 }

#fork-me > img { position: absolute; top: 0; right: 0; border: 0 }
