body { font: 13px sans-serif }
#chart > svg { width: 800px; height: 300px; font-size: 9px; border-right: 1px solid #ddd }
#chart > svg > rect { stroke: #fff; fill: steelblue }
#ping { font-size: 60px }
